<div class="container mb-5">

  <div class="card text-left">
    <div class="card-body">
      <div class="d-flex p-2 bd-highlight justify-content-between">
        <h5 class="card-title">{{post.title}}</h5>
        <p>Author:
          {{post.user.username}}</p>
          <p>
          Date:
          {{format_date post.created_date}}</p>
      </div>
      <p class="card-text">{{post.content}}</p>
    </div>

  </div>
</div>
<div class= "Container text-center">
  <h3>Comments</h3>
</div>
{{#each post.comments as |post|}}
<div class="container card text-white bg-secondary mx-auto border-secondary m-3 ">

  <div class="card-body">
    <h5 class="card-title">{{user.username}} on {{created_date}}</h5>
    <p class="card-text">{{post.commentBody}}</p>
  </div>
  <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>

</div>
{{/each}}
  {{#if loggedIn}}

<div class="container card text-white bg-secondary mx-auto border-secondary m-3 ">
  <div class="col-md-6">
    <h3>Create New Comment:</h3>

    <form class="form new-comment-form" id="newComment">
      <div class="form-group">
        <textarea class="input-large" id="commentBody" name="commentBody"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="create-comment">Post</button>
      </div>
    </form>
  </div>

  {{else}}
  <div class="container mb-5">
    <p>Sign in to leave comments</p>
    <button>
      <a class="nav-link" href="/login">Login</a>
    </button>
  </div>
{{/if}}

<script src="./js/comments.js"></script>