<div class="menu-container">


{{#each posts as |post|}}

<div class="card text-white bg-info w-50 mx-auto border-secondary m-3 ">
  <div class="card-body">
    <h5 class="card-title">{{post.title}}</h5>
    <p>Author: {{post.user.username}} Date: {{format_date post.created_date}}</p>
    <p class="card-text">{{post.content}}</p>
    <a href="/{{id}}" class="btn btn-light">Read More...</a>
  </div>
</div>

{{/each}}